html
	head
		title &lrm;
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=0.5')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		style.
			body {
			font-size: 10px;
			}
			.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
				padding: 4px
			}
			@media print
			{
			.page-break {page-break-before:always}
			}
			@page { size: auto;  margin: 0mm; }
			.panel {margin-bottom: 0}
	body
		- var n = 0;
		- var i = 1;
			//- ul
			while n < total
				br
				br
				.container.invoice
					
					br
					br
					
					.invoice-body
						br
						br
						br
						.row
							.col-xs-4
								p(style="margin-top: 40px;")
									b LR No. : #{" "+result[n].billty.lrno}
												
							.col-xs-4
								.panel.panel-default(style="padding:5px;")
									table(style="font-size: 10px")
										tr
											td Customer's Name & Address
										tr
											td #{" "+result[n].billty.unloadingaddress}
										tr
											td #{" "+result[n].billty.contactperson}
										tr
											td #{" "+result[n].billty.phoneno}
										tr
											//- -var newdateis = result[n].billty.lrdate.split("-");
											//- -var actdate = newdateis[2]+'/'+newdateis[1]+'/'newdateis[0];
											td #{actdate} 
											//- | Customer's Name & Address
											//- br
											//- u
											//- 	p #{" "+result[n].billty.unloadingaddress}
											//- 	p #{" "+result[n].billty.contactperson}
											//- 	p #{" "+result[n].billty.phoneno}
											//- | #{" "+result[n].billty.lrdate}
							.col-xs-4
								.panel.panel-default(style="padding:5px;")
									table(style="font-size: 10px")
										tr
											td Date
											td :
											td 
											td #{" "+result[n].billty.lrdate}
										tr
											td Truck No
											td :
											td 
											td #{" "+result[n].billty.truckno}
										tr
											td From
											td :
											td 
											td #{" "+result[n].billty.from}
										tr
											td To
											td :
											td 
											td #{" "+result[n].billty.to}

									//- 		| Date 
									//- 		b
									//- 			| :
									//- 			b #{" "+result[n].billty.lrdate}
									//- 			br
									//- 			| Truck No 
									//- 			b
									//- 				| :
									//- 				b #{" "+result[n].billty.truckno}
									//- 			br
									//- 			| From
									//- 			b
									//- 				| :
									//- 				b #{" "+result[n].billty.from}
									//- 			br
									//- 			| To
									//- 			b
									//- 				| :
									//- 				 #{" "+result[n].billty.to}
									//- b
								
							
						
						.panel.panel-default
							// <table class="table table-bordered table-condensed">
							table.table.table-bordered
								tbody(style='font-size: 10px;')
									tr
										td PACKAGES
										td DESCRIPTION
										td BAGS
										td WEIGHT
										td FREIGHT
										td ADVANCE
										td DIESEL
										td BALANCE
									
									tr
										td #{" "+result[n].billty.packages}
										td #{" "+result[n].billty.contains}
										td #{" "+result[n].billty.unit}
										td #{" "+result[n].billty.actualweight}
										td #{" "+result[n].billty.ppaymentmode}
										td #{" "+result[n].billty.totaltruckexpences}
										//- td #{" "+values.newtotal+" "}
										
										//- td #{""}
										td #{""+result[n].billty.dqty}
										td 
								
									
									tr
										td(rowspan="2") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Receiver Stamp    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											br 
											br
											br
											br
											br
											br
											
										td 
										td 
										td(colspan="2") Driver Name: #{" "+result[n].billty.drivername}
										td(colspan="2") POLICY NO.
										td
									tr
										td Invoice No. : #{" "+result[n].billty.newinvoiceno} 
											
										td Gate Pass No. : #{" "+result[n].billty.newgatepass}
										td 
										td Driver LIC No. 
										td DATE : 
										td #{" "+result[n].billty.lrdate}
										td 
						.row
							.col-xs-12
								p I/We have read and understand the terms &amp; condition printed on overleaf and agree to abide by same.  GST Under forward charge

						//- .row
						//- 	.col-xs-12
						//- 		.panel.panel-default(style="padding:20px;")
						
					br
					br
					br
					br
					br
				if i % 3 == 0
					.page-break

				- n++
				- i++
